<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<button onclick="saveReq()">글작성</button>
<button onclick="listReq()">글목록</button>
<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
    </tr>
    <tr th:each="assignment: ${assignmentList}">
        <td th:text="${assignment.id}"></td>
<!--        <td><a th:href="@{|/assignment/${assignment.id}|}" th:text="${assignment.assignmentTitle}"></a></td>-->
        <td><a th:href="@{'/assignment/' + ${assignment.id}}" th:text="${assignment.assignmentTitle}"></a></td>
        <td th:text="${assignment.assignmentWriter}"></td>
        <td th:text="*{#temporals.format(assignment.assignmentCreatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${assignment.assignmentHits}"></td>
    </tr>
</table>
</body>
<script>
    const saveReq = () => {
        location.href = "/assignment/save";
    }
    const listReq = () => {
        location.href = "/assignment/"
    }
</script>
</html>